body{
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.section{
    background-size: contain;
    background-image: url(/bg/bg.png);
    width: 100%;
}
nav {
    padding: 28px;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    width: 1063px;
    margin: 0 auto;
}
.hamburger{
    display: none;
}
header{
    width: 100%;
    display: flex;
    margin-left: 90px;
    height: 100px;
    margin-bottom: 50px;
}
.header_burger{
    display: none;
}
.navbar{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.navbar_menu{
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
}
.a_menu{
    padding: 0 10px;
}
.nav_buton{
    display: flex;
    justify-content: center;
    width: 170px;
    height: 40px;
    background: #AC1216;
    border-radius: 10px;
}
.text_buton_nav{
    font-family: 'SF Pro Display';
    font-style: normal;
    color: #fff;
    font-size: 15px;
    line-height: 13px;
}
.h1{
    margin-top: -10px;
    margin-left: 90px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 90px;
    display: flex;
    align-items: center;
    color: #fff;
    width: 848px;
    height: 180px;
}
.h1_red{
    margin-top: 0;
    color: #AC1216;
}
.h2{
    display: flex;
}
.h2_section_1{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #71768E;
    margin-left: 90px;
}
.buttom{
    width: 100%;
    display: flex;
}
.h3{
    width: 848px;
    height: 114px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #A0A3B5;
    margin-left: 90px;
}

button.button_red{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-left: 90px;
    width: 295px;
    height: 80px;
    background: #E11D2E;
    border-radius: 10px;
    border-color: #E11D2E;
}
.butonn_sec1{
    color: #fff;
    margin-left: 25px;
    width: 379px;
    height: 82px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.05);
}
.number{
    flex-direction: column;
    display: flex;
    margin-left: 90px;
    margin-top: 20px;
    text-align: center;
    width: 699px;
    height: 75px;
    left: 93px;
    top: 683px;
    border: 1px solid rgba(255, 255, 255, 0.09);
    border-radius: 10px;
}
.cont{
    margin-left: 30px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.2);
}
.num{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
    margin: 0 35px 13px 30px;
}

.cat{
    width: 100%;
    position: absolute;
    left: 58.75%;
    right: 10.42%;
    top: 16.26%;
    bottom: 87.35%;
}

.row{
    width: 100%;
    word-spacing: 30px;
    background-color: rgba(255, 245, 0, 0.6);
    height: 55px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
/* cекция 2 */
.section_2{
    background-color: #101932;
    height: 856px;
}

.section_icons{
    padding: 50px 10px;
    opacity: 25%;
}
.icons{
    display: flex;
    justify-content: center;
}
.vektor{
    width: 100%;
    display: flex;
    margin: -75px 200px 0px 200px;
    border-radius: 468px;
}
.web{
    position: absolute;
    margin-top: -100px;
    margin-left: 100px;
}
.cat_vektor{
    position: absolute;
    margin-top: 287px;
    margin-left: 464px;
    z-index: 1;
}
.planet{
    position: absolute;
    margin-top: 202px;
    margin-left: 380px;
}
.red_vektor{
    position: absolute;
    margin-top: 306px;
    margin-left: 125px;
    z-index: 1;
}
.orang_vektor{
    position: absolute;
    margin-top: 625px;
    margin-left: 747px;
    z-index: 1;
}
.blou_vektor{
    position: absolute;
    margin-top: 60px;
    margin-left: 860px;
    z-index: 1;
}
.vektor_1{
    position: absolute;
    margin-top: -100px;
    margin-left: 100px;
}
.vektor_2{
    position: absolute;
    margin-top: 0px;
    margin-left: 185px;
}
.vektor_3{
    position: absolute;
    margin-top: 100px;
    margin-left: 283px;
}
.h2_vector{
    position: absolute;
    margin-top: 161px;
    margin-left: 301px;
    width: 552px;
    height: 126px;
    font-size: 22px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF
}
.vektor_button{
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    width: 215px;
    height: 77px;
    margin-top: 480px;
    left: 650px;
    background: #E11D2E;
    border-radius: 10px;
    border-color: #E11D2E;
}
.button_vektor{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.9;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 15px;
}
/* секция3 */
.work{
    background-color:#101932;
    display: flex;
    height: 939px;
}
.works{
    margin-left: 600px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}
.ecosystem{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 35px 40px 40px;
    width: 375px;
    height: 500px;
    background: #384D70;
    border-radius: 20px;
    left: 30px;
    margin-top: 160px;
}
.ecosystem_h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.ecosystem_h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.3;
}
.ecosystem_text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.many{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 35px 40px 40px;
    width: 375px;
    height: 550px;
    background: #384D70;
    border-radius: 20px;
    left: 535px;
    margin-top: 160px;
}
.many_h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.many_h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.3;
}
.many_text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}

.defi{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 35px 40px 40px;
    width: 375px;
    height: 460px;
    background: #384D70;
    border-radius: 20px;
    left: 1037px;
    margin-top: 160px;
}
.defi_h2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.defi_h3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.3;
}
.defi_text{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.7);
}
/* секция4 */
.play{
    display: flex;
    height: 1052px;
    background-color: #101932;
    width: 1519px;
    text-align: center;
}
.play_h2{
    position: absolute;
    left: 580px;
    margin-top: 50px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}
.play_h3{
    position: absolute;
    left: 540px;
    margin-top: 120px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: #FFFFFF;
    opacity: 0.5;
}

.play_promo{
    position: absolute;
    left: 92px;
    margin-top: 212px;
    width: 1335px;
    height: 384px;
    background: #071022;
    border-radius: 30px;
}

.sity{
    margin-top: 36px;
    margin-left: -90px;
}
.g10{
    position: absolute;
    left: 20px;
    margin-top: 35px;
}  
.elf{
    position: relative;
    left: -265px;
    top: -25px;
    z-index: 1;
}
.Vector_play{
    left: -540px;
    position: relative;
}
.promo_h2{
    top: 20px;
    left: 705px;
    position: absolute;
    color: #FFFFFF;
}
.promo_h3{
    left: 683px;
    width: 632px;
    position: relative;
    font-size: 10px;
    top: -250px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    line-height: 20px;
}
.promo_1{
    position: absolute;
    left: -60px;
    display: flex;
    width: 700px;
    height: 231px;
    background: #FF9429;
    border-radius: 30px;
}
.coin_h2{
    font-size: 30px;
    left: 250px;
    position: absolute;
    margin-top: 20px;
    color: #FFFFFF;
}
.coin_h3{
    margin-top: 75px;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    opacity: 0.8;
}
.promo_2{
    left: 690px;
    position: absolute;
    display: flex;
    width: 700px;
    height: 231px;
    background: #067CCB;
    border-radius: 30px;
}
.megafone_h2{
    font-size: 30px;
    left: 250px;
    position: absolute;
    margin-top: 20px;
    color: #FFFFFF;
}
.megafone_h3{
    margin-top: 75px;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    opacity: 0.8;
}
/* секция 5 */
.sectoin_5{
    display: flex;
    height: 662px;
    background: #30298C;
}
.section_5_left{
    Width: 644px;
    background-image: url(/section_5/Vector.png);
}
.section5_h2{
    margin-top: 177px;
    margin-left: 92px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}
.section_5h3{
    position: absolute;
    margin-left: 92px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}
.section_5_but{
    margin-left: 92px;
    margin-top: 100px;
    width: 404px;
    height: 80px;
    background: #E11D2E;
    border-radius: 10px;
    border-color: #E11D2E;
}
.Massive_trend{
    position: absolute;
    left: 650px;
    margin-top: 150px;
    width: 790px;
    height: 110px;
}
.union{
    margin-top: 25px;
    position: absolute;
}
.massiv_h2{
    color: #fff;
    margin-top: -96px;
    margin-left: 130px;
}
.massiv_h3{
    margin-left: 130px;
    color: #FFFFFF;
    opacity: 0.8;
}
.massive_value{
    margin-top: 360px;
    width: 790px;
    height: 110px;
}
.value{
    margin-left: -25px;
    margin-top: 15px;
    position: absolute;
}
.value_h2{
    margin-top: -100px;
    margin-left: 125px;
    color: #FFFFFF;
}
.value_h3{
    margin-left: 130px;
    color: #FFFFFF;
    opacity: 0.6;
}
/* секция 6 */
.mobil_vect{
    display: none;
}
.roedmap{
    display: flex;
    height: 1985px;
    background: #101932;
}
.roe{
    position: absolute;
    left: 580px;
    margin-top: 70px;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

.august{
    position: absolute;
    margin-top: 180px;
}

.sept{
    position: absolute;
    left: 726px;
    margin-top: 456px;
}

.dec{
    position: absolute;
    margin-top: 822px;
}
.q1{
    position: absolute;
    left: 726px;
    margin-top: 1188px;
    }

.q2{
    position: absolute;
    margin-top: 1524px;
}
/* секция 7 */
.gallery{
    display: none;
}
.section7{
    display: flex;
    height: 1071px;
    background: #162344;
}
.team_h2{
    position: absolute;
    left: 695px;
    margin-top: 70px;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 60px;
}

.team_img{
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 190px;
}
h3 {
    opacity: 0.6;
}
.image2{
    margin-left: 10px;
}
.image3{
    margin-left: 10px;
}

.image4{
    margin-left: 10px;
}
.button_team{
    display: flex;
    justify-content: space-between;
    margin-left: 730px;
    margin-top: 635px;
    position: absolute;   
}
.button_team1{
    margin: 2px;
    background: #FF0000;
    border-color: #FF0000;
}
.button_team2{
    margin: 2px;
}
.button_team3{
    margin: 2px;
}
.team_h2_2{
    position: absolute;
    left: 550px;
    margin-top: 700px;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 60px;
}
.team_links{
    position: absolute;
    display: flex;
    margin-left: 15px;
    margin-top: 800px;
}
/* секция 8 */
.vector_sec8{
    display: none;
}
.section8{
    display: flex;
    flex-direction: column;
    height: 878px;
    background-color: #101D3F;
}
.section_h2{
    position: absolute;
    left: 660px;
    margin-top: 70px;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 60px;
}

.section_lef1{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 200px;
    padding-left: 20px;
    width: 400px;
    height: 140px;
    background-color: #000000;
    border-radius: 10px;
}
.hr_sec1{
    position: absolute;
    border-color: #4E00FF;
    border-radius: 3px;
    background-color: #4E00FF;
    height: 3px;
    width: 57px;
}
.h2_sec_left1{
    color: #fff;
}
.h3_sec_left1{
    color: #fff;
    opacity: 0.3;
}

.section_lef2{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 40px;
    padding-left: 20px;
    width: 400px;
    height: 140px;
    background-color: #000000;
    border-radius: 10px;
}
.hr_sec2{
    position: absolute;
    border-color: #FF850B;
    border-radius: 3px;
    background-color: #FF850B;
    width: 15px;
    height: 3px;
}
.hr_sec2_2{
    position: relative;
    left: -170px;
    border-color: #663090;
    border-radius: 3px;
    background-color: #663090;
    width: 15px;
    height: 3px;
}
.h2_sec_left2{
    color: #fff;
}
.h3_sec_left2{
    margin: 0;
    color: #fff;
    opacity: 0.3;
}

.section_lef3{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 40px;
    padding-left: 20px;
    width: 400px;
    height: 140px;
    background-color: #000000;
    border-radius: 10px;
}
.hr_sec3{
    position: absolute;
    border-color: #1DBEE1;
    border-radius: 3px;
    background-color: #1DBEE1;
    width: 90px;
    height: 3px;
}
.h2_sec_left3{
    color: #fff;
}
.h3_sec_left3{
    color: #fff;
    opacity: 0.3;
}

.section_reid1{
    display: flex;
    flex-direction: column;
    margin-top: -470px;
    margin-left: 1050px;
    padding-left: 20px;
    width: 400px;
    height: 140px;
    background-color: #000000;
    border-radius: 10px;
}
.hr_sec_reid1{
    display: flex;
    flex-direction: column;
    position: absolute;
    border-color: #133D81;
    border-radius: 3px;
    background-color: #133D81;
    height: 3px;
    width: 30px;
}
.h2_sec_reid1{
    color: #fff;
}
.h3_sec_reid1{
    color: #fff;
    opacity: 0.3;
}

.section_reid2{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 1050px;
    padding-left: 20px;
    width: 400px;
    height: 140px;
    background-color: #000000;
    border-radius: 10px;
}
.hr_sec_reid2{
    position: absolute;
    border-color: #FF0000;
    border-radius: 3px;
    background-color: #FF0000;
    width: 45px;
    height: 3px;
}
.h2_sec_reid2{
    color: #fff;
}
.h3_sec_reid2{
    color: #fff;
    opacity: 0.3;
}

.section_reid3{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 1050px;
    padding-left: 20px;
    width: 400px;
    height: 140px;
    background-color: #000000;
    border-radius: 10px;
}
.hr_sec_reid3{
    position: absolute;
    border-color: #0096F2;
    border-radius: 3px;
    background-color: #0096F2;
    width: 45px;
    height: 3px;
}
.h2_sec_reid3{
    color: #fff;
}
.h3_sec_reid3{
    color: #fff;
    opacity: 0.3;
}
.img_section8{
    display: flex;
    margin-left: 477px;
    margin-top: -530px;
}
/* секция 9 */
.section9{
    display: flex;
    flex-direction: column;
    height: 688px;
    background-color: #101932;
}
.h2_cection9{
    margin-left: 450px;
    margin-top: 70px;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 60px;
}
.section9_1{
    margin: 0 0 20px 220px;
    width: 1036px;
    height: 75px;
    background: #384D70;
    border-radius: 15px;
    border-color: #384D70;
}
.img_2sec9{
    margin-top: -55px;
    position: absolute;
    left: 1155px;
}
.img_1sec9{
    z-index: 1;
    margin-top: -40px;
    position: absolute;
    left: 1155px;
    margin-left: 10px;
}
.h3_section9{
    position: relative;
    margin: 25px 35px;
    color: #FFFFFF;
    font-size: 20px;
}
/* секция 10 */
.join{
    display: flex;
    flex-direction: column;
    height: 971px;
    background-color: #162758;
}
.h2_ssection_10{
    margin-left: 400px;
    color: #FFFFFF;
    font-size: 50px;
    line-height: 60px;
}
.section_join{
    margin-top: 20px;
    max-width:1070px;
    height: 720px;
    margin-left: 200px;
}
.vecton_join{
    opacity: 0.1;
}
.sots_seti{
    display: flex;
    justify-content: space-between;
    margin-top: -600px;
}
.cat_join{
    position: absolute;
    left: 640px;
}
.join_link{
    position: absolute;
    margin: 335px 0 0 235px;
}
/* подвал */
footer{
    width: 100%;
    height: 60px;
    background-color: #0D1428;
    text-align: center;
}
.footer_link{
    position: relative;
    top: 20px;
    color: #FFFFFF;
    opacity: 0.4;
}


@media screen and (min-width: 319px) and (max-width: 767px) {
    header{
        margin: 0;
        height: 50px;
    }
    .navbar_menu{
        display: none;
    }
    .nav_buton{
        display: none;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 10px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        background-color: #384D70;
        border-radius: 5px;
    }
    .hamburger span {
        display: block;
        height: 3px; 
        width: 17px; 
        background-color: #fff; 
        margin-bottom: 2px; -webkit-transition: 0.5s all; transition: 0.5s all;
        margin-top: 8px;
        margin-left: 30%;
    }
    .section{
        height: 925px;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .logo_img{
        width: 155px;
        height: 25px;
    }
    .h1{
        width: 300px;
        margin-left: 15px;
        font-size: 20px;
        line-height: 50px;
    }
    .h2_section_1{
        width: 330px;
        height: 18px;
        margin-top: 0;
        margin-left: 15px;
        font-size: 15px;
        line-height: 18px;
    }
    .h3{
        width: 300px;
        height: 130px;
        margin-left: 15px;
        font-size: 15px;
        line-height: 26px;
    }
    .cat_promo{
        width: 200px;
    }
    .cat{
        top: 360px;
        left: 22%;
    }
    .buttom{
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }
    button.button_red{
        width: 282px;
        height: 63px;
        margin-left: 25px;
    }
    .butonn_sec1{
        margin-top: 15px;
        margin-left: 10px;
        width: 306px;
        height: 61px;
    }
    .number{
        width: 300px;
        height: 60px;   
        margin-left: 15px;
    }
    .num{
        font-size: 13px;
        margin-left: 5px;
        margin-top: -10px;
    }
    .row{
        margin-top: 30px;
    }
    .section_icons{
        width: 80px;
        height: 30px;
    }
    .icons{
        flex-wrap: wrap;
    }
    .section_icons{
        padding: 0;
    }
    .h2_vector{
        margin-top: 100px;
        margin-left: -200px;
    }
    .h2_ve{
        font-size: 20px;
        margin-left: 0;
        width: 329px;
        height: 120px;
    }
    .vektor_1 {
        margin-top: 220px;
        margin-left: -175px;
        width: 300px;
    }
    .vektor_2 {
        width: 250px;
        margin-top: 245px;
        margin-left: -152px;
    }
    .vektor_3{
        width: 200px;
        margin-top: 270px;
        margin-left: -127px;
    }
    .web {
        width: 330px;
        margin-top: 200px;
        margin-left: -190px;
    }
    .planet{
        width: 150px;
        margin-top: 295px;
        margin-left: -100px;
    }
    .cat_vektor{
        width: 100px;
        margin-top: 325px;
        margin-left: -75px;
    }
    .red_vektor{
        width: 40px;
        margin-top: 275px;
        margin-left: -155px;
    }
    .orang_vektor{
        width: 40px;
        margin-top: 455px;
        margin-left: 20px;
    }
    .blou_vektor{
        width: 40px;
        margin-top: 260px;
        margin-left: 60px;
    }
    .vektor_button{
        margin-left: -615px;
        margin-top: 525px;
        width: 260px;
        height: 50px;
        align-items: center;
    }
    .section_2{
        height: 600px;
    }
    .work{
        height: 1935px;
    }
    .works{
        margin-left: 20px;
        font-size: 45px;
    }
    .ecosystem {
        left: 15px;
        width: 220px;
    }
    .eco_img{
        width: 250px;
    }
    .ecosystem_h2{
        margin: 10px auto;
        font-size: 30px;
    }
    .ecosystem_h3{
        font-size: 15px;
    }
    .ecosystem_text{
        font-size: 20px;
    }
    .many{
        width: 220px;
        margin-top: 760px;
        left: 15px;
    }
    .many_img{
        width: 250px;
    }
    .many_h2{
        margin: 10px auto;
        font-size: 30px;
    }
    .many_h3{
        font-size: 15px;
    }   
    .many_text{
        font-size: 20px;
    }
    .defi{
        width: 220px;
        margin-top: 1365px;
        left: 15px;
    }
    .defi_img{
        width: 250px;
    }
    .defi_h2{
        margin: 10px auto;
        font-size: 30px;
    }
    .defi_h3{
        font-size: 15px;
    }
    .defi_text{
        font-size: 20px;
    }



    .play{
        width: 100%;
        height: 1580px;
    }
    .play_h2{
        font-size: 45px;
        left: 40px;
        margin-top: 0;
    }
    .play_h3{
        margin-top: 64px;
        font-size: 20px;
        left: 15px;
    }
    .play_img{
        width: 320px;
        height: 636px;
    }
    .play_promo{
        width: 320px;
        height: 636px;
        left: 0;
        margin-top: 170px;
    }
    .sity{
        margin-left: 0;
        width: 300px;
        height: 150px;
    }
    .g10{
        Width: 130px;
        left: 5px;
        margin-top: 45px;
    }
    .elf{
        Width: 130px;
        margin-top: -120px;
        left: 70px;

    }
    .Vector_play{
        position: absolute;
        width: 150px;
        left: 157px;
        top: 35px;
    }
    .promo_h2{
        top: 180px;
        left: 55px;
        font-size: 24px;
    }
    .promo_h3{
        font-size: 15px;
        left: 0;
        width: 100%;
        top: 5px;
    }
    .promo_1{
        left: 12px;
        width: 300px;
        height: 410px;
    }
    .coin{
        width: 140px;
        height: 140px;
        margin-left: 90px;
    }
    .coin_h2{
        left: 78px;
        margin-top: 145px;
    }
    .coin_h3{
        margin-left: -220px;
        margin-top: 190px;
    }
    .promo_2{
        margin-top: 420px;
        left: 12px;
        width: 300px;
        height: 410px;
    }
    .megofone{
        width: 140px;
        height: 140px;
        margin-left: 90px;
    }
    .megafone_h2{
        left: 15px;
        margin-top: 145px;
    }
    .megafone_h3{
        margin-left: -230px;
        margin-top: 215px;
    }
    .sectoin_5{
        display: none;
    }


    .roedmap{
        height: 980px;
    }
    .roe{
        left: 65px;
    }
    .august_img{
        width: 318px;
        height: 125px;
    }
    .sept{
        left: 0;
        margin-top: 315px;
    }
    .sept_img{
        width: 318px;
        height: 125px;
    }
    .dec{
        margin-top: 450px;
    }
    .dec_img{
        width: 318px;
        height: 125px;
    }
    .q1{
        left: 0;
        margin-top: 585px;
    }
    .august_img_q1{
        width: 318px;
        height: 125px;
    }
    .q2{
        margin-top: 720px;
    }
    .august_img_q2{
        width: 318px;
        height: 125px;
    }   
    .mob_vec{
        width: 100%;
        height: 103px;
    }
    .mobil_vect{
        margin-top: 880px;
        display: flex;
    }


    .section7{
        height: 850px;
    }
    .img1_corul{
        width: 280px;
        height: 270px;
    }
    .team_h2{
        left: 95px;
    }
    .img_team{
        width: 280px;
        height: 270px;
    }
    .team_img{
        margin-left: 22px;
        margin-top: 145px;
    }
    .button_team{
        margin-left: 120px;
        margin-top: 520px;
    }
    .team_h2_2{
        left: 50px;
        margin-top: 560px;
    }
    .team_links{
        flex-wrap: wrap;
        margin-left: 35px;
        margin-top: 725px;
    }
    .pink_img{
        width: 80px;
        height: 30px;
    }
    .inter_img{
        width: 80px;
        height: 30px;
    }
    .sandbox_img{
        width: 80px;
        height: 30px;
    }
    .decen_img{
        width: 80px;
        height: 30px;
    }
    .coing_img{
        width: 80px;
        height: 30px;
    }
    .coinmarket_img{
        width: 80px;
        height: 30px;
    }
    .image2{
        display: none;
    }
    .image3{
        display: none;
    }
    .image4{
        display: none;
    }




    .section8{
        height: 715px;
    }
    .section_h2{
        left: 40px;
        margin-top: 50px;
        font-size: 45px;
    }
    .group_46{
        width: 300;
        height: 300px;
    }
    .img_section8{
        margin-top: -450px;
        margin-left: 13px;
    }
    .section_lef1{
        margin-left: 0;
        margin-top: 430px;
        width: 300px;
        height: 140px
    }
    .section_lef2{
        display: none;
    }
    .section_lef3{
        display: none;
    }
    .section_reid1{display: none;}
    .section_reid2{display: none;}
    .section_reid3{display: none;}
    .vector_sec8{
        margin-top: 200px;
        display: flex;
    }
    .zertor_sec8{
        width: 100%;
    }



   
    .h2_cection9{
        margin-left: 50px;
        font-size: 45px;
    }
    .section9_1{
        width: 300px;
        height: 75px;
        margin-left: 20px;    
    }
    .h3_section9{
        font-size: 15px;
        margin: 10px 0px;
    }
    .img_1sec9{
        margin-top: -22px;
        left: 267px;
    }
    .img_2sec9{
        margin-top: -37px;
        left: 267px
    }


    .h2_ssection_10{
        margin-left: 60px;
        font-size: 45px;
    }
    .sots_seti{
        flex-wrap: wrap;
        margin-left: -200px;
        margin-top: 0px;
    }  
    .vecton_join{
        position: absolute;
        left: 0;
        width: 320px;
    }
    .telega_img{
        width: 90px;
        height: 90px;
    } 
    .twit_img{
        width: 90px;
        height: 90px;
    }
    .telip_img{
        width: 90px;
        height: 90px;
    }
    .face_img{
        width: 90px;
        height: 90px;
    }
    .m_img{
        width: 90px;
        height: 90px;
    }
    .insta_img{
        width: 90px;
        height: 90px;
    }
    .cat_join{
        margin-top: 100px;
        left: 75px;
    }
    .join_link {
        margin-top: 335px;
        margin-left: -190px;
    }
    .join_link_img{
        width: 300px;
    }
}


    @media screen and (min-width: 767px) and (max-width: 1023px) {
        header{
            margin: 0;
        }
        .logo_img{
            width: 150px;
        }
        .navbar_menu{
            display: none;
        }
        .nav_buton{
            display: none;
        }
        .hamburger{
            display: block;
            position: absolute;
            right: 10px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background-color: #384D70;
            border-radius: 5px;
        }
        .hamburger span {
            display: block;
            height: 3px; 
            width: 17px; 
            background-color: #fff; 
            margin-bottom: 2px; -webkit-transition: 0.5s all; transition: 0.5s all;
            margin-top: 8px;
            margin-left: 30%;
        }
        .navbar_logo{
            position: relative;
            left: 50px;
        }
        .h1{
            margin-left: 50px;
            font-size: 30px;
            line-height: 60px;
        }
        .h2_section_1{
            margin-left: 50px;
        }
        .h3 {
            width: 100%;
            margin-left: 50px;
        }
        button.button_red{
            margin-left: 50px;
            width: 295px;
        }
        .butonn_sec1{
            width: 200px;
        }
        .cat_promo{
            width: 300px;
        }
        .number{
            margin-left: 50px;
            width: 580px;
        }
        .icons{
            flex-wrap: wrap;
        }
        .web{
            width: 700px;
        }
        .vektor{
            margin-left: -65px;
        }
        .vektor_1{
            width: 700px;
        }
        .vektor_2{
            width: 500px;
        }
        .vektor_3{
            width: 300px;
        }
        .planet{
            width: 250px;
            margin-top: 131px;
            margin-left: 307px;
        }
        .cat_vektor{
            width: 150px;
            margin-top: 185px;
            margin-left: 360px;
        }
        .h2_vector{
            margin-top: 22px;
            margin-left: 190px;
        }
        .orang_vektor {
            margin-top: 400px;
            margin-left: 547px;
        }
        .blou_vektor {
            margin-top: 110px;
            margin-left: 620px;
        }
        .vektor_button {
            margin-top: 510px;
            left: 275px;
        }


        .work {
            height: 820px;
        }
        .works{
            margin-left: 255px;
            font-size: 45px;
        }
        .ecosystem{
            left: 10px;
            width: 200px;
        }
        .eco_img{
            width: 200px;
        }
        .ecosystem_h2{
            font-size: 20px;
            line-height: 42px;
        }
        .ecosystem_h3{
            font-size: 20px;
            line-height: 24px;
        }
        .ecosystem_text {
            font-size: 20px;
        }
        .many{
            left: 250px;
            width: 200px;
            height: 545px;
        }
        .many_img{
            width: 200px;
        }
        .many_h2{
            font-size: 20px;
            line-height: 42px;
        }
        .many_h3{
            font-size: 20px;
            line-height: 24px;
        }
        .many_text {
            font-size: 20px;
        }
        .defi{
            justify-content: flex-start;
            left: 490px;
            width: 200px;
            height: 550px;
        }
        .defi_img{
            width: 200px;
        }
        .defi_h2{
            font-size: 20px;
            line-height: 42px;
        }
        .defi_h3{
            font-size: 20px;
            line-height: 24px;
        }
        .defi_text {
            font-size: 20px;
        }


        .play_h2{
            left: 280px;
            margin-top: 0;
        }
        .play_h3 {
            left: 240px;
            margin-top: 90px;
        }
        .play_promo {
            left: 20px;
            width: 700px;
            height: 300px;
        }
        .sity{
            position: absolute;
            left: 100px;
            margin-top: 60px;
            width: 450px;
        }
        .g10{
            left: -40px;
        }
        .Vector_play{
            width: 200px;
            left: -120px;
        }
        .elf{
            left: 115px;
            top: 25px;
        }
        .promo_h2{
            top: 0px;
            left: 250px;
        }
        .promo_h3{
            left: 460px;
            width: 240px;
            top: -240px;
            font-size: 10px;
        }
        .promo_1{
            margin-top: -200px;
            left: 0;
        }
        .promo_2{
            left: 0;
            margin-top: 50px;
        }


        .sectoin_5 {
            height: 480px;
        }
        .section5_h2 {
            margin-top: 10px;
            margin-left: 30px;
        }
        .section_5h3{
            margin-top: 0;
            font-size: 15px;
            margin-left: 30px;
        }
        .section_5_but{
            margin-left: 30px;
        }
        .Massive_trend{
            left: 440px;
            margin-top: 20px;
            width: 320px;
        }
        .massiv_h3{
            font-size: 15px;
        }
        .massive_value {
            margin-left: -210px;
            margin-top: 260px;
            width: 320px;
        }
        .value_h3{
            font-size: 15px;
        }



        .roedmap{
            height: 1900px;
        }
        .roe {
            left: 285px;
        }
        .august{
            left: 30px;
        }
        .august_img{
            width: 700px;
        }
        .sept{
            left: 30px;
        }
        .sept_img{
            width: 700px;
        }
        .dec{
            left: 30px;
        }
        .dec_img{
            width: 700px;
        }
        .q1{
            left: 30px;
        }
        .august_img_q1{
            width: 700px;
        }
        .q2{
            left: 30px;
        }
        .august_img_q2{
            width: 700px;
        }


        .section7{
            height: 900px;
        }
        .team_h2{
            left: 335px;
        }
        .image2{
            display: none;
        }
        .image3{
            display: none;
        }
        .image4{
            display: none;
        }
        .team_img{
            margin-left: 200px;
        }
        .button_team{
            margin-left: 350px;
        }
        .team_h2_2 {
            left: 180px;
        }
        .team_links{
            margin-left: 95px;
        }
        .pink_img{
            width: 100px;
            height: 37px;
        }
        .inter_img{
            width: 100px;
        }
        .sandbox_img{
            width: 100px;
        }

        .decen_img{
            width: 100px;
            height: 37px;
        }

        .coing_img{
            width: 100px;
            height: 37px;
        }

        .coinmarket_img{
            width: 100px;
        }


        .section8 {
            height: 750px;
        }
        .section_h2 {
            left:260px;
        }
        .section_lef1{
            margin-left: 0;
            width: 250px;
        }
        .h3_sec_left1{
            font-size: 15px;
        }
        .section_lef2{
            margin-left: 0;
            width: 250px; 
        }
        .h3_sec_left2{
            font-size: 15px;
        }
        .hr_sec2_2 {
            left: -135px;
        }
        .h2_sec_left2{
            margin-top: 5px;
        }
        .section_lef3{
            margin-left: 0;
            width: 250px;
        }
        .h3_sec_left3{
            font-size: 15px;
        }
        .img_section8{
            margin-left: 270px;
            margin-top: -335px;
        }
        .group_46{
            width: 230px;
        }
        .section_reid1{
            width: 250px;
            margin-left: 498px;
        }
        .h3_sec_reid1{
            font-size: 15px;
        }
        .section_reid2{
            width: 250px;
            margin-left: 498px;
        }
        .h3_sec_reid2{
            margin-top: 5px;
            font-size: 15px;
        }
        .section_reid3{
            width: 250px;
            margin-left: 498px;
        }
        .h3_sec_reid3{
            font-size: 15px;
        }



        .section9{
            height: 600px;
        }
        .h2_cection9{
            font-size: 45px;
            margin-left: 100px;
        }
        .section9_1{
            width: 700px;
            margin-left: 35px;
        }
        .img_1sec9 {
            left: 655px;
        }
        .img_2sec9{
            left: 655px;
        }



        .h2_ssection_10{
            font-size: 45px;
            margin-left: 30px;
        }
        .section_join{
            margin-left: 0;
        }
        .cat_join{
            margin-top: 80px;
            left: 315px;
        }
        .join_link{
            margin-left: 35px;
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        header{
            margin-left: 0;
        }
        .navbar_logo{
            margin-left: 10px;
        }
        .logo_img{
            width: 150px;
        }
        nav{
            font-size: 10px;
            width: 100%;
            padding-right: 0;
        }
        .h1 {
            font-size: 35px;
            margin-top: -60px;
            margin-left: 50px;
        }
        .h2{
            margin-left:-40px;
        }
        .h3{
            margin-left: 50px;
        }
        .cat_promo{
            width: 300px;
        }
        .cat {
            left: 65%;
            top: 20%;
        }
        .buttom{
            margin-left: 55px;
        }
        .number {
            margin-left: 145px;
        }
        .section_icons{
            padding: 50px 5px;
        }
        .h2_vector {
            margin-top: 40px;
            margin-left: 30px;
        }
        .web {
            margin-left: -160px;
        }
        .vektor_1 {
            margin-left: -165px;
        }
        .vektor_2{
            margin-left: -75px;
        }
        .vektor_3{
            margin-left: 15px;
        }
        .planet{
            margin-left: 85px;
        }
        .cat_vektor{
            margin-left: 165px;
        }
        .red_vektor{
            margin-left: -100px;
        }
        .orang_vektor {
            margin-left: 450px;
        }
        .blou_vektor{
            margin-top: 135px;
            margin-left: 580px;
        }
        .vektor_button {
            margin-top: 555px;
            left: 350px;
        }



        .work{
            height: 800px;
        }
        .works{
            margin-left: 375px;
            font-size: 45px;
        }
        .ecosystem{
            width: 200px;
        }
        .ecosystem_h2{
            font-size: 17px;
            line-height: 30px;
            margin-top: 0;
        }
        .ecosystem_text {
            font-size: 20px;
        }


        .many{
            height: 520px;
            padding-top: 30px;
            width: 200px;
            left: 380px;
        }
        .many_h2{
            font-size: 17px;
            line-height: 30px;
            margin-top: 0;
        }
        .many_text {
            font-size: 20px;
        }
        
        .defi{
            height: 540px;
            width: 200px;
            left: 720px;
        }
        .defi_h2{
            font-size: 17px;
            line-height: 30px;
            margin-top: 0;
        }
        .defi_text {
            padding-top: 45px;
            font-size: 20px;
        }
        



        .play{
            width: 100%;
            height: 950px;
        }
        .play_h2{
            left: 400px;
        }
        .play_h3{
            left: 355px;
        }
        .play_promo{
            width: 100%;
            left: 0;
        }
        .Vector_play{
            left: 386px;
            position: absolute;
            margin-top: 35px;
        }
        .promo_h2{
            left: 740px;
        }
        .promo_h3{
            width: 332px;
        }
        .promo_1{
            position: absolute;
            top: 420px;
            left: 10px;
            width: 500px;
        }
        .coin_h3{
            margin-top: 65px;
            font-size: 20px;
        }
        .promo_2{
            position: absolute;
            top: 420px;
            left: 515px;
            width: 500px;
        }
        .megafone_h2{
            margin-top: 5px;
        }
        .megafone_h3{
            margin-top: 65px;
            font-size: 15px;
        }


        .Massive_trend{
            width: 490px;
            left: 500px;
        }
        .massive_value{
            margin-top: 425px;
        }
        .massive_value{
            width: 490px;
            margin-left: -147px;
        }



        .roe{
            left: 400px;
        }
        .sept{
            left: 230px;
        }
        .q1{
            left: 230px;
        }



        .section7{
            height: 950px;
        }
        .team_h2{
            left: 460px;
        }
        .img_team{
            width: 250px;
        }
        .team_img{
            margin-left: 0;
        }
        .image2 {
            margin-left: 5px;
        }
        .image3{
            margin-left: 5px;
        }
        .button_team{
            margin-left: 490px;
        }
        .team_h2_2 {
            left: 300px;
        }
        .team_links{
            margin-left: 70px;
        }
        .pink_img{
            width: 150px;
            height: 55px;
        }
        .inter_img{
            width: 150px;
        }
        .sandbox_img{
            width: 150px;
        }
        .decen_img{
            height: 55px;
            width: 150px;
        }
        .coing_img{
            height: 55px;
            width: 150px;
        }
        .coinmarket_img{
            width: 150px;
        }




        .section8{
            height: 750px;
        }
        .section_h2 {
            left:385px;
        }
        .section_lef1{
            margin-left: 0;
            width: 250px;
        }
        .h3_sec_left1{
            font-size: 15px;
        }
        .section_lef2{
            margin-left: 0;
            width: 250px; 
        }
        .h3_sec_left2{
            font-size: 15px;
        }
        .hr_sec2_2 {
            left: -135px;
        }
        .h2_sec_left2{
            margin-top: 5px;
        }
        .section_lef3{
            margin-left: 0;
            width: 250px;
        }
        .h3_sec_left3{
            font-size: 15px;
        }
        .img_section8{
            margin-left: 270px;
            margin-top: -475px;
        }
        .group_46{
            width: 480px;
        }
        .section_reid1{
            width: 250px;
            margin-left: 750px;
        }
        .h3_sec_reid1{
            font-size: 15px;
        }
        .section_reid2{
            width: 250px;
            margin-left: 750px;
        }
        .h3_sec_reid2{
            margin-top: 5px;
            font-size: 15px;
        }
        .section_reid3{
            width: 250px;
            margin-left: 750px;
        }
        .h3_sec_reid3{
            font-size: 15px;
        }



        
        .h2_cection9{
            margin-left: 200px;
        }   
        .section9_1{
            margin-top: 10px;
            margin-left: 0;
            width: 100%;
        }
        .img_1sec9{
            left: 950px;
        }
        .img_2sec9{
            left: 950px;
        }




        .h2_ssection_10{
            margin-left: 110px;
        }
        .section_join{
            margin-left: 0;
        }
        .vecton_join{
            width: 100%;
        }
        .cat_join {
            left: 415px;
            margin-top: 70px;
        }
        .join_link{
            margin-left: 180px;
        }















    }





    
    













































